@media screen and (max-width: 1900px) {
    .bnr-cnt {justify-content: end;}
    .bnr-rt {width: 48.6%;padding-right: 48px;}
    .bnr-sec {padding: 175px 0 0;}
    .bnr-lft {width: 52.1%;padding: 78px 0 0 49px;}
    .bnr-btn {margin-left: -38px;}
}

@media screen and (max-width:1800px){
    .bnr-rt {padding-right: 30px;width: 46.6%;}
    .bnr-lft {width: 50.1%;padding: 75px 0 0 45px;}
    .bnr-lft h1 {font-size: 93px;margin-bottom: 6px;}
    .bnr-lft h1 strong {font-size: 59px;margin: 0 0 5px -41px;}
    .bnr-lft p {margin-bottom: 32px;}
    .bnr-btn {margin-left: -33px;}
        /*  */
}

@media screen and (max-width:1700px){
    .hdr-sec .container {max-width: 1550px;}
    .hdr-menu li {margin: 0 30px;}
    .hdr-nav { gap: 37px;}
    .bnr-sec {padding: 170px 0 0;}
    .bnr-rt {padding-right: 28px;width: 43.6%;}
    .bnr-lft h1 {font-size: 87px; margin-bottom: 6px;}
    .bnr-lft {width: 47.1%;padding: 73px 0 0 46px;}
    .bnr-lft h1 strong {font-size: 57px;}
    .bnr-lft p {margin-bottom: 30px;}
    .bnr-btn {margin-left: -26px;}
    .abt-rt p {font-size: 18px;margin-bottom: 35px;}
    .abt-lft {width: 61.3%;margin-left: -71px;}
    .abt-rt {width: 40.6%;padding: 9px 0 0 0;}
    .abt-cnt {padding-right: 50px;}
    .abt-sec {padding: 105px 0 125px;}
    .abt-sec .text-heading {padding-left: 130px;}
    .meet-cnt {gap: 35px;justify-content: center;}
}
@media screen and (max-width:1600px){
    .container, .hdr-sec .container{max-width:1400px;}
    .hdr-logo {width: 17%;}
    .contact p {font-size: 17px;padding-left: 53px;}
    .hdr-menu li {margin: 0 28px;}
    .hdr-menu li a {font-size: 16px;  padding-bottom: 25px;}
    .bnr-sec {padding: 135px 0 0;}
    .bnr-rt {padding-right: 26px;width: 37.6%;}
    .bnr-lft {width: 45.1%;padding: 68px 0 0 42px;}
    .bnr-lft h1 {font-size: 84px;margin-bottom: 5px;}
    .bnr-lft h1 strong {font-size: 55px;margin: 0 0 4px -39px;}    
    .bnr-lft p {font-size: 17px;  margin-bottom: 23px;}
    .cmn-btn {font-size: 19px;padding: 24px 43px;}
    .bnr-btn {margin-left: -19px;}
    .abt-sec {padding: 100px 0 120px;}
    .abt-cnt {padding-right: 40px;}
    .abt-lft {width: 57.3%;margin-left: -20px;}   
    .abt-rt {width: 38.6%;padding: 9px 0 0 0;}    
    .abt-rt p {font-size: 16px;margin-bottom: 28px;}
    .abt-sec .cmn-btn {padding: 23px 37px;}     
    .contact p {font-size: 16px;padding-left:46px;letter-spacing: 1.6px;}
    .contact a {font-size: 31px;margin-top: 2px;}
    .contact a::before {top: 5px;transform: scale(0.9);}
    .prct-itm {width: 47.2%;padding: 33px 97px 33px 53px;}
    .prct-itm h5 {font-size: 24px;}
    .prct-sec h2 {font-size: 82px;margin-bottom: 53px;}
    .prct-blk {gap: 33px;margin-bottom: 43px;}
    .prct-sec {padding: 115px 0 120px;}
    .frm-sec form input{width: 46.4%;}
    .frm-sec textarea {width: 99%;}
    .map-point {bottom: 48%;right: 18%;}
    .choose-sec {padding: 100px 0 0;}

}

@media screen and (max-width:1500px) {
    .hdr-nav {gap: 28px;}
    .hdr-sec .hdr-menu li:last-child {padding-right: 10px;}
    .hdr-menu li a {font-size: 15px;padding-bottom: 25px;}
    .hdr-menu li {margin: 0px 22px;}
    .bnr-sec {padding: 129px 0 0;}
    .bnr-rt {padding-right: 20px;width: 34.6%;}
    .bnr-lft h1 strong {font-size: 53px;margin: 0 0 3px -32px;}
    .bnr-lft {width: 43.1%;padding: 44px 0 0 38px;}
    .bnr-lft h1 {font-size: 77px;margin-bottom: 3px;}
    .bnr-lft p {font-size: 16px;line-height: 1.5;  margin-bottom: 29px;}
    .cmn-btn {font-size: 17px;padding: 22px 41px;}
    .meet-sec {padding: 100px 0 0;}
    .meet-lft {width: 37.8%;}
    .meet-rt {width: 49.6%;}
    .meet-rt h2 {font-size: 100px;margin-bottom: 22px;padding: 15px 0 0 40px;}
    .meet-rt p {font-size: 18px;margin-bottom: 35px;}
    .meet-cnt::before {right: 11px;transform: scale(0.8);}
    .text-heading {font-size: 68px;margin-bottom: 40px;}
    .testi-sec .text-heading {font-size: 80px;}
    .testi-sec {padding: 120px 0 45px;}
}

@media screen and (max-width:1440px){
    .container, .hdr-sec .container, .bnr-sec .container{max-width:1200px;}
    .hdr-sec {padding-top: 16px;}
    .hdr-nav {gap: 22px;}
    .contact p {font-size: 15px;padding-left: 45px;letter-spacing: 1.5px;}
    .contact a {font-size: 29px;margin-top: 1px;}
    .contact a::before {top: 4px;transform: scale(0.8);}
    .hdr-menu li {margin: 0px 20px;}
    .hdr-menu li a {font-size: 15px;padding-bottom: 17px;}
    .bnr-sec {padding: 102px 0 0;}
    .bnr-lft {width: 42.1%;padding: 29px 0 0 30px;}
    .bnr-lft h1 {font-size: 64px;margin-bottom: -3px;}
    .bnr-lft h1 strong {font-size: 50px;margin: 0 0 3px -28px;}
    .bnr-lft p {font-size: 14px;line-height: 1.5;margin-bottom: 19px;}
    .cmn-btn {font-size: 16px;padding: 20px 39px;}
    .bnr-btn {margin-left: -15px;}
    .bnr-rt {padding-right: 18px;width: 33.6%;}
    .choose-sec {padding: 65px 0 0;}
    .abt-sec {padding: 90px 0 110px;}
    .abt-cnt {padding-right: 20px;gap: 24px;}
    .abt-lft {width: 53.3%;margin-left: -18px;}
    .abt-rt {width: 43.6%;padding: 8px 0 0 0;}
    .abt-rt p {font-size: 15px;margin-bottom: 26px;}
    .cnt-grp {justify-content: start;gap: 35px;}
    .abt-sec .cmn-btn {padding: 23px 45px;}
    .prct-itm {width: 47.2%;padding: 28px 92px 28px 34px;}
    .prct-itm h5 {font-size: 21px;}
    .prct-itm::before {right: 21px;top: 17px;transform: scale(0.9);}
    .prct-sec h2 {font-size: 80px;margin-bottom: 46px;}
    .prct-cnt {width: 70%;padding-left: 21px;}
    .prct-sec {padding: 105px 0 110px;}
    .testi-sec {padding: 100px 0 40px;}
    .trust-sec {padding: 70px 0 100px;}
    .trust-sec .text-heading {font-size: 100px;line-height: 0.8;margin-bottom: 30px;}
    .meet-sec {padding: 95px 0 0;}
    .meet-cnt {gap: 45px;justify-content: center;}
    .meet-lft {width: 42.8%;}
    .meet-rt {width: 53.6%;}
    .meet-rt h2 {font-size: 90px;margin-bottom: 16px;padding: 10px 0 0 37px;}
    .meet-rt p {font-size: 17px;margin-bottom: 30px;}
    .meet-cnt::before {transform: scale(0.7);}
    
}

@media screen and (max-width:1366px) {
    .choose-blk {justify-content: center;}
    .abt-sec .text-heading {padding-left: 60px;}
    .testi-itm {margin: auto;padding: 39px 37px 66px 38px;height: 100%;}
    .testi-stars {margin: 0 auto 15px;transform: scale(0.9);}
    .testi-itm h6 {font-size: 23px;line-height: 1.1;margin-bottom: 12px;}
    .testi-itm p {font-size: 16px;margin-bottom: 16px;}
    .testi-itm h5 {font-size: 38px;bottom: 22px;}
    .testi-itm::before {transform: scale(0.9);}
    .ch-item {width: 30%;}
    .ch-item h4 {font-size: 30px;padding: 201px 36px 0;}
    .ch-item h4::after ,.ch-item h4::before {transform: scale(0.9);}
    .choose-sec {padding: 55px 0 0;}
    .text-heading {font-size: 60px;margin-bottom: 35px;}
    .abt-sec {padding: 87px 0 90px;}
    .testi-sec .text-heading {font-size: 70px;margin-bottom: 29px;}
    .testi-sec {padding: 80px 0 35px;}
    .trust-sec .text-heading {font-size: 87px;line-height: 0.8;margin-bottom: 20px;}
    .trust-sec {padding: 60px 0 80px;}
    .trust-sec h4 {font-size: 30px;margin-bottom: 18px;}
    .trust-sec p {font-size: 17px;line-height: 1.6;margin-bottom: 28px;}
    .trust-sec .cmn-btn {padding: 21px 60px;}
    .ftr-logo {width: 25.4%;margin: 0 auto 24px;}
    .ftr-sec .hdr-menu ul {padding: 0;margin: 0 auto 11px;padding: 25px 0;}
    .hdr-menu li {margin: 0px 15px;}
    .ftr-sec .hdr-menu li a {font-size: 17px;}
    .ftr-itm h5 {font-size: 34px;}
    .ftr-itm .phn-num {font-size: 41px;margin-top: 5px;}
    .frm-cnt .text-heading {font-size: 75px;}
    .frm-sec input, textarea {padding: 0 0 28px 0;font-size: 18px;}
    .frm-sec textarea {height: 128px;margin-bottom: 28px;}
    .frm-sec {padding: 100px 0 80px;}
    .prct-sec h2 {font-size: 73px;margin-bottom: 33px;}
    .prct-sec {padding: 93px 0 85px;}
    .cpy-rt-sec a {font-size: 17px;}
    .cpy-rt-sec p {font-size: 17px;}
    .cpy-rt-sec {padding: 19px 0;}
    .facebook {margin-left: 5px;transform: scale(0.9);}
}

@media screen and (max-width:1280px) {}

@media screen and (max-width:1240px){

.container, .hdr-sec .container, .bnr-sec .container{max-width:970px;}
    .contact a {font-size: 24px;margin-top: 0;}
    .hdr-menu li {margin: 0px 9px;}
    .hdr-menu li a {font-size: 13px;padding-bottom: 14px;}
    .contact p {font-size: 14px;padding-left: 42px;letter-spacing: 1.3px;}
    .contact a::before {top: 0px;transform: scale(0.7);}
    .bnr-lft {width: 46.1%;padding: 23px 0 0 27px;}
    .bnr-lft h1 {font-size: 56px;margin-bottom: -3px;}
    .bnr-lft h1 strong {font-size: 37px;margin: 0 0 3px -25px;}
    .bnr-lft p {font-size: 12px;line-height: 1.5;margin-bottom: 15px;}
    .bnr-btn {margin-left: -11px;}
    .cmn-btn {font-size: 14px;padding: 17px 30px;}
    .bnr-rt {padding-right: 18px;width: 36.6%;}
    .choose-sec {padding: 50px 0 0;}
    .ch-item h4 {font-size: 24px;padding: 175px 25px 0;}
    .ch-item h4::after, .ch-item h4::before {transform: scale(0.7);}
    .text-heading {font-size: 60px;margin-bottom: 25px; }
    .abt-sec .text-heading {padding-left: 20px;}
    .abt-sec {padding: 70px 0 70px;}
    .abt-sec .text-heading {padding-left: 20px;}
    .abt-cnt {padding-right: 15px;gap: 14px;}
    .abt-lft {width: 51.3%;margin-left: 0;}
    .abt-rt {width: 45.6%;padding: 0;}
    .abt-rt p {font-size: 13px;margin-bottom: 15px;}
    .cnt-grp {justify-content: start;gap: 30px;}
    .abt-sec .cmn-btn {padding: 14px 30px;}
    .meet-sec {padding: 80px 0 0;}
    .meet-cnt {gap: 30px;justify-content: center;}
    .meet-lft {width: 38.8%;}
    .meet-rt {width: 53.6%;}
    .meet-rt h2 {font-size: 59px;margin-bottom: 12px;padding: 8px 0 0 30px;}
    .meet-rt p {font-size: 13px;margin-bottom: 19px;}
    .meet-cnt::before {transform: scale(0.5);right: 0;}
    .prct-sec {padding: 75px 0 60px;}
    .prct-cnt {width: 70%;padding-left: 21px;}
    .prct-sec h2 {font-size: 50px;margin-bottom: 22px;}
    .prct-blk {gap: 25px;margin-bottom: 34px;}
    .prct-itm {width: 46.2%;padding: 20px 79px 20px 23px;}
    .prct-itm::before {right: 8px;top: 6px;transform: scale(0.7);}
    .prct-itm h5 {font-size: 18px;}
    .testi-sec {padding: 50px 0 10px;}
    .testi-sec .text-heading {font-size: 58px;margin-bottom: 18px;}
    .owl-carousel .owl-stage-outer {padding: 12px 0 0;}
    .testi-itm::before {transform: scale(0.7);top: -23px;}
    .testi-itm {margin: auto;padding: 33px 32px 54px 30px}
    .testi-stars {margin: 0 auto 11px;transform: scale(0.8);}
    .testi-itm h6 {font-size: 21px;line-height: 1.1;margin-bottom: 8px;}
    .testi-itm p {font-size: 15px;margin-bottom: 12px;}
    .testi-itm h5 {font-size: 35px;bottom: 22px;}
    .trust-sec {padding: 50px 0 60px;}
    .trust-sec .text-heading {font-size: 60px;margin-bottom: 11px;}
    .trust-sec h4 {font-size: 25px;margin-bottom: 5px;}
    .trust-sec p {font-size: 14px;line-height: 1.4;margin-bottom: 17px;}
    .trust-sec .cnt-grp {justify-content: center;gap: 10px;}
    .trust-sec .cmn-btn {padding: 16px 37px;}
    .frm-sec {padding: 70px 0 40px;}
    .frm-cnt .text-heading {font-size: 60px;}
    .frm-cnt {width: 56%;}
    .frm-sec form input {width: 43.4%;}
    .frm-sec input, textarea {padding: 0 0 22px 0;font-size: 15px;}
    .frm-sec textarea {height: 100px;margin-bottom: 19px;}
    .frm-btm {display: flex;justify-content: space-between;margin-bottom: 19px;}
    .cpy-rt a {font-size: 14px;}
    .map-point {bottom: 43%;right: 13%;width: 44.7%;}
    .frm-rt label {font-size: 15px;}
    .ftr-itm {padding: 15px 0 0;}
    .ftr-itm h5 {font-size: 29px;padding-top: 45px;}
    .ftr-itm h5::before , .ftr-itm h5::after{transform: scale(0.8);}
    .ftr-itm p {font-size: 16px;line-height: 1.5;margin-bottom: 3px;}
    .ftr-itm a {font-size: 15px;line-height: 1.6;margin-bottom: 0px;}
    .ftr-itm .phn-num {font-size: 31px;margin-top: 3px;}
    .ftr-sec {padding-bottom: 30px;}
    .loc-logo {width: 11.1%;}
    .phone-logo {width: 16.8%;}
    .ftr-blk {justify-content: center;}
    .cpy-rt-sec a {font-size: 14px;}
    .cpy-rt-sec p {font-size: 14px;}
    .cpy-rt-sec {padding: 13px 0;}
    .facebook {margin-left: 5px;transform: scale(0.7);}
}

@media screen and (max-width:1080px) {}

@media screen and (max-width:991px){
    .container, .hdr-sec .container, .bnr-sec .container{max-width:720px;}
    .hdr-sec {padding: 13px;background-image: linear-gradient(to left, #7d7d7d, #727780, #5f7282, #43707f, #206d75);}
    .hdr-menu {display: none;}
    .hdr-sec {padding-top: 13px;}
    .hdr-logo {width: 100%;max-width: 250px;}
    .bnr-sec .container {margin: auto;}
    .bnr-cnt {justify-content: center;flex-direction: column-reverse;}
    .bnr-rt {padding: 0;margin: auto;width: 100%;max-width: 300px;}
    .bnr-lft {background-color: rgb(35 35 35 / 50%);margin: auto;width: 100%;max-width: 610px;text-align: center;padding:0;border: 1px solid #000;}
    .bnr-lft::before ,.bnr-lft::after {display: none;}
    .bnr-lft h1 strong {font-size: 28px;margin: 0 0 7px;}
    .bnr-lft h1 {font-size: 30px;margin-bottom: 4px;}
    .bnr-lft p {font-size: 16px;line-height: 1.4;margin-bottom: 13px;}
    .contact p {font-size: 21px;padding-left: 55px;letter-spacing: 1.7px;}
    .contact a {font-size: 33px;margin-top: 2px;}
    .contact a::before {top: 10px;transform: scale(1.0);}
    .bnr-sec {padding: 107px 0 50px;background: #505050bd;}
    .bnr-btn {margin: 0 0 10px;}
    .text-heading {font-size: 40px;margin-bottom: 15px;}
    .owl-item{width: 100px;}
    /*  */
    .abt-sec {padding: 50px 0;}
    .abt-cnt {flex-direction: column;padding: 0;gap: 14px;}
    .abt-lft {width: 100%;max-width: 450px;border: 2px solid #000;margin: 0;}
    .abt-rt {width: 100%;text-align: left;padding: 0;}
    .abt-rt p {font-size: 18px;margin-bottom: 20px;}
    .cnt-grp {justify-content: center;gap: 50px;}
    .contact p {font-size: 17px;padding-left: 53px;}
    .contact a {font-size: 29px;}
    .prct-sec {padding: 50px 0;}  
    .prct-cnt {width: 100%;max-width: 700px;margin: auto;padding: 0;}  
    .ch-item {width: 100%;max-width: 300px;margin: auto;}
    .owl-dots {
    display: block;
    height: 15px;
    width: 15px;
    background-color: #000;
    margin: auto;
}
.prct-itm {
    width: 100%;max-width: 300px;margin: auto;}
    /*  */
    .meet-sec {padding: 50px 0;}
    .meet-cnt {gap: 10px;justify-content: center;flex-direction: column; padding: 0;}
    .meet-lft {width: 100%;max-width: 300px;margin: auto;background-color: rgb(35 35 35 / 50%);border: 2px solid #d4d4d4;}
    .meet-rt {width: 100%;text-align: center;}
    .meet-rt h2::before ,.meet-rt h2::after , .meet-cnt::before{display: none;}
    .meet-sec::before{display: none;}
    .meet-rt h2 {font-size: 51px;margin-bottom: 15px;  padding: 0;}
    .meet-bg::after , .meet-bg::before {clip-path: none; width: 100%;}
    .meet-rt p {font-size: 17px;margin-bottom: 18px;}
    /*  */
    .frm-cnt {width: 100%;max-width: 650px;margin: auto;}
    .map-blk {position: relative;width: 100%;max-width: 600px;margin: auto;}
    iframe {height: 400px;filter: unset; opacity: 100%;}
    .map-blk::after {display: none;}
}

@media screen and (max-width:767px){

.container, .hdr-sec .container, .bnr-sec .container{max-width:100%;padding:0 15px;}

}

@media screen and (max-width:680px) {}

@media screen and (max-width:640px) {}

@media screen and (max-width:600px) {}

@media screen and (max-width:580px) {}

@media screen and (max-width:480px) {
 
 
}

@media screen and (max-width:440px) {}

@media screen and (max-width:375px) {}

@media screen and (max-width:360px) {}
